# requirements.txt (Final Clean Version for FinanceFlow Project)

# Core libraries for both worker and backend
python-dotenv
firebase-admin
groq

# Libraries specifically for worker.py
feedparser

# Libraries specifically for finance_news_backend.py
Flask
Flask-Cors
yfinance