# requirements.txt (Final Version with Scraper)

# Core libraries for both worker and backend
python-dotenv
firebase-admin
groq

# Libraries for worker.py
feedparser
requests
requests-html
lxml_html_clean
pyppeteer
pyppeteer-stealth
beautifulsoup4

# Libraries for finance_news_backend.py
Flask
Flask-Cors
yfinance
