# requirements.txt (Final Version with Scraper)

# Core libraries for both worker and backend
python-dotenv
firebase-admin
groq

# Libraries for worker.py
feedparser
requests
requests-html
lxml<5.0.0
beautifulsoup4

# Libraries for finance_news_backend.py
Flask
Flask-Cors
yfinance
